<ion-header>
  <ion-toolbar>
    <ion-title>page2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../assets/img/pic.jpg" alt=Camp de conreu amb montanyes entre boires al fons">

  <ul>
    <li><a href="https://www.tempsrecord.cat/albums/soundtrack/africa-rutes-per-a-viatgers-intrepids/" title="Anar a rutes per Àfrica">Àfrica</a></li>
    <li><a href="https://ca.wikiloc.com/rutes/senderisme/paisos-baixos/limburg/america" title="Rutes per Amèrica">Amèrica</a></li>
  </ul>

  <ol>
    <li>Congo</li>
    <li>Canadà</li>
  </ol>

  <ion-footer>
    <ion-button expand="block" routerLink="/page3" routerDirection="forward">Següent<
  </ion-footer>
</ion-content>
