<ion-header>
  <ion-toolbar>
    <ion-title>page3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://media.istockphoto.com/photos/winding-road-picture-id1173544006?s=612x612" alt="Carretera entre bosc"> <ion-img></ion-img>

  <ion-list>
    <ion-item>
      <ion-label><a href="https://www.tempsrecord.cat/albums/soundtrack/africa-rutes-per-a-viatgers-intrepids/" title="Anar a rutes per Àfrica">Àfica</a></ion-label>
    </ion-item>
    
    <ion-item>
    <ion-label><a href="https://ca.wikiloc.com/rutes/senderisme/paisos-baixos/limburg/america" title="Anar a rutes per Amèrica">Amèrica</a></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
