<ion-header [translucent]= "true">
  <ion-toolbar>
    <ion-title>
      La Meva Primera App
    </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content [fullscreen]= "true">
  <h1>Formulari d'accès</h1>

  <labelfor="name">Nom</labe>
  

  <ion-item>
    <ion-label for="surename1">Cognom</ion-label>
    <ion-input name="surename1" placeholder="Escriu el teu cognom"[(ngModel)]="surename1></ion-input>
  </ion-item>

  <ion-item>
    <ion-label for="surename2">Cognom</ion-label>
    <ion-input name="surename2" placeholder="Escriu el teu cognom"[(ngModel)]="surename1></ion-input>
  </ion-item>

  <button (click)="send()">Enviar </button>
  <ion-button expand="block" (click)="erase()" >Esborrar</ion-button>
</ion-content>