input{
  border-bottom: solid 0.1em;
  background-color:#eee;
  margin:0 3vw;
}

button{
  margin: 0;
  padding:1.5vh 2vw;
  width: 100%;
  text-transform: uppercase;
  background-color: blue;
  color: white;
}

input, ion-input, ion-item{
  margin: 1vh 2vw 2vh 3vw;
}

label, ion-label{
  margin:1vh 2vw 2vh 3vw;
}

h1{
  text-align: center;
}